{
  "openapi": "3.0.1",
  "info": {
    "title": "Audius API",
    "description": "## Overview\n\nThe Audius API provides REST access to the world's largest open music catalog, built on the [Open Audio Protocol](https://openaudio.org). Use it to query and stream tracks, users, playlists, and more—perfect for building music players, discovery apps, and audio-native products.\n\n## Key Capabilities\n\n- **Users** — Profiles, followers, following, search\n- **Tracks** — Search, trending, stream, favorites, reposts\n- **Playlists** — Create, update, browse, curate\n- **Resolve** — Look up content by Audius canonical URLs (e.g. `audius.co/artist/...`)\n- **Explore** — Trending content, charts, discovery\n- **Comments, Tips, Rewards** — Social features and engagement\n\n## Authentication\n\n- **Read-only** — Most endpoints work without credentials. Use an API key for higher rate limits.\n- **Writes** — Upload, favorite, repost, and other mutations require an API key and secret. Get keys at [api.audius.co/plans](https://api.audius.co/plans) or [audius.co/settings](https://audius.co/settings).\n\n## Resources\n\n- [API Docs](https://docs.audius.co/api) — Full reference and guides\n- [API Plans](https://api.audius.co/plans) — Get API keys (free tier available)\n- [Log in with Audius](https://docs.audius.co/developers/guides/log-in-with-audius) — OAuth for user actions\n- [JavaScript SDK](https://www.npmjs.com/package/@audius/sdk) — `@audius/sdk` for Node and browser\n",
    "version": "1.0",
    "contact": {
      "name": "Audius",
      "url": "https://audius.co"
    },
    "x-logo": {
      "url": "https://audius.co/favicons/favicon.ico"
    }
  },
  "servers": [
    {
      "url": "https://api.audius.co/v1",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "users",
      "description": "User related operations"
    },
    {
      "name": "playlists",
      "description": "Playlist related operations"
    },
    {
      "name": "tracks",
      "description": "Track related operations"
    },
    {
      "name": "challenges",
      "description": "Challenge related operations"
    },
    {
      "name": "tips",
      "description": "Tip related operations"
    },
    {
      "name": "developer_apps",
      "description": "Developer app related operations"
    },
    {
      "name": "dashboard_wallet_users",
      "description": "Protocol dashboard wallet users related operations"
    },
    {
      "name": "resolve",
      "description": "Audius Canonical URL resolver"
    },
    {
      "name": "comments",
      "description": "Comment related operations"
    },
    {
      "name": "events",
      "description": "Events related operations"
    },
    {
      "name": "explore",
      "description": "Explore related operations"
    },
    {
      "name": "rewards",
      "description": "Rewards related operations"
    },
    {
      "name": "prizes",
      "description": "Prize claiming related operations"
    },
    {
      "name": "oauth",
      "description": "OAuth 2.0 authorization"
    }
  ],
  "paths": {
    "/challenges/undisbursed": {
      "get": {
        "tags": [
          "challenges"
        ],
        "description": "Get all undisbursed challenges",
        "operationId": "Get Undisbursed Challenges",
        "security": [
          {},
          {
            "OAuth2": [
              "read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip. Useful for pagination (page number * limit)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of items to fetch",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "A User ID to filter the undisbursed challenges to a particular user",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "completed_blocknumber",
            "in": "query",
            "description": "Starting blocknumber to retrieve completed undisbursed challenges",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "challenge_id",
            "in": "query",
            "description": "A challenge ID to filter the undisbursed challenges to a particular challenge",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/undisbursed_challenges"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/challenges/undisbursed/{user_id}": {
      "get": {
        "tags": [
          "challenges"
        ],
        "description": "Get all undisbursed challenges for a user",
        "operationId": "Get Undisbursed Challenges For User",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "A User ID to filter the undisbursed challenges to a particular user",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip. Useful for pagination (page number * limit)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of items to fetch",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "completed_blocknumber",
            "in": "query",
            "description": "Starting blocknumber to retrieve completed undisbursed challenges",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "challenge_id",
            "in": "query",
            "description": "A challenge ID to filter the undisbursed challenges to a particular challenge",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/undisbursed_challenges"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/comments/unclaimed_id": {
      "get": {
        "tags": [
          "comments"
        ],
        "description": "Gets an unclaimed blockchain comment ID",
        "operationId": "Get unclaimed comment ID",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unclaimed_id_response"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/comments": {
      "post": {
        "tags": [
          "comments"
        ],
        "description": "Creates a new comment",
        "operationId": "Create Comment",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-codegen-request-body-name": "metadata",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create_comment_request_body"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Comment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create_comment_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/comments/{comment_id}": {
      "get": {
        "tags": [
          "comments"
        ],
        "description": "Gets a comment by ID",
        "operationId": "Get Comment",
        "parameters": [
          {
            "name": "comment_id",
            "in": "path",
            "description": "A Comment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/comment_response"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "comments"
        ],
        "description": "Updates a comment",
        "operationId": "Update Comment",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "comment_id",
            "in": "path",
            "description": "A Comment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-codegen-request-body-name": "metadata",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update_comment_request_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/write_response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "404": {
            "description": "Comment not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "comments"
        ],
        "description": "Deletes a comment",
        "operationId": "Delete Comment",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "comment_id",
            "in": "path",
            "description": "A Comment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comment deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/write_response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "404": {
            "description": "Comment not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/comments/{comment_id}/react": {
      "post": {
        "tags": [
          "comments"
        ],
        "description": "React to a comment",
        "operationId": "React to Comment",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "comment_id",
            "in": "path",
            "description": "A Comment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/react_comment_request_body"
              }
            }
          },
          "required": true,
          "x-codegen-request-body-name": "metadata"
        },
        "responses": {
          "200": {
            "description": "Comment reacted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/write_response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "404": {
            "description": "Comment not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "comments"
        ],
        "description": "Unreact to a comment",
        "operationId": "Unreact to Comment",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "comment_id",
            "in": "path",
            "description": "A Comment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/react_comment_request_body"
              }
            }
          },
          "required": true,
          "x-codegen-request-body-name": "metadata"
        },
        "responses": {
          "200": {
            "description": "Comment unreacted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/write_response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "404": {
            "description": "Comment not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/comments/{comment_id}/pin": {
      "post": {
        "tags": [
          "comments"
        ],
        "description": "Pin a comment",
        "operationId": "Pin Comment",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "comment_id",
            "in": "path",
            "description": "A Comment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pin_comment_request_body"
              }
            }
          },
          "required": true,
          "x-codegen-request-body-name": "metadata"
        },
        "responses": {
          "200": {
            "description": "Comment pinned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/write_response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "404": {
            "description": "Comment not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "comments"
        ],
        "description": "Unpin a comment",
        "operationId": "Unpin Comment",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "comment_id",
            "in": "path",
            "description": "A Comment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pin_comment_request_body"
              }
            }
          },
          "required": true,
          "x-codegen-request-body-name": "metadata"
        },
        "responses": {
          "200": {
            "description": "Comment unpinned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/write_response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "404": {
            "description": "Comment not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/comments/{comment_id}/report": {
      "post": {
        "tags": [
          "comments"
        ],
        "description": "Report a comment",
        "operationId": "Report Comment",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "comment_id",
            "in": "path",
            "description": "A Comment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comment reported successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/write_response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "404": {
            "description": "Comment not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/comments/{comment_id}/replies": {
      "get": {
        "tags": [
          "comments"
        ],
        "description": "Gets replies to a parent comment",
        "operationId": "Get Comment Replies",
        "security": [
          {},
          {
            "OAuth2": [
              "read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "comment_id",
            "in": "path",
            "description": "A Comment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip. Useful for pagination (page number * limit)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of items to fetch",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/comment_replies_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/fan_club/feed": {
      "get": {
        "tags": [
          "fan_club"
        ],
        "description": "Get the fan club feed for a given artist, including text posts and comments",
        "operationId": "Get Fan Club Feed",
        "security": [
          {},
          {
            "OAuth2": [
              "read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "mint",
            "in": "query",
            "description": "The mint address of the artist's fan club token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip. Useful for pagination (page number * limit)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of items to fetch",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/track_comments_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/fan-club/feed": {
      "get": {
        "tags": [
          "fan_club"
        ],
        "description": "Get the fan club feed for a given artist (hyphenated alias), including text posts and comments",
        "operationId": "Get Fan Club Feed Alias",
        "security": [
          {},
          {
            "OAuth2": [
              "read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "mint",
            "in": "query",
            "description": "The mint address of the artist's fan club token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip. Useful for pagination (page number * limit)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of items to fetch",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/track_comments_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/developer-apps": {
      "post": {
        "tags": [
          "developer_apps"
        ],
        "description": "Create a new developer app. Indexer validates grants.",
        "operationId": "Create Developer App",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user creating the developer app",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-codegen-request-body-name": "metadata",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create_developer_app_request_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Developer app created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create_developer_app_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/developer-apps/{address}": {
      "get": {
        "tags": [
          "developer_apps"
        ],
        "description": "Gets developer app matching given address (API key)",
        "operationId": "Get Developer App",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "A developer app address (API Key)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/developer_app_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "404": {
            "description": "Not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "developer_apps"
        ],
        "description": "Deletes a developer app. Indexer validates grants.",
        "operationId": "Delete Developer App",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user who owns the developer app",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "Developer app address (API Key)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Developer app deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/write_response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "404": {
            "description": "Not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "developer_apps"
        ],
        "description": "Updates a developer app. Indexer validates grants.",
        "operationId": "Update Developer App",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user who owns the developer app",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "Developer app address (API Key)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-codegen-request-body-name": "metadata",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update_developer_app_request_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Developer app updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/write_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "404": {
            "description": "Developer app not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/developer-apps/{address}/register-api-key": {
      "post": {
        "tags": [
          "developer_apps"
        ],
        "description": "Register api_key and api_secret in api_keys table for developer apps created via entity manager transactions. Use when the client sends raw ManageEntity tx instead of POST /developer-apps. Inserts with rps=10, rpm=500000. Requires the app to exist in developer_apps and belong to the authenticated user.",
        "operationId": "Register Developer App API Key",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user who owns the developer app",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "Developer app address (API key)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-codegen-request-body-name": "metadata",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/register_api_key_request_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/register_api_key_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (api_secret required)",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "404": {
            "description": "Developer app not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/developer-apps/{address}/access-keys/deactivate": {
      "post": {
        "tags": [
          "developer_apps"
        ],
        "description": "Deactivate a bearer token (API access key) for a developer app. Indexer validates grants.",
        "operationId": "Deactivate Developer App Access Key",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user who owns the developer app",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "Developer app address (API Key)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-codegen-request-body-name": "metadata",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/deactivate_access_key_request_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access key deactivated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deactivate_access_key_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (api_access_key required)",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "404": {
            "description": "Developer app or access key not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/developer-apps/{address}/access-keys": {
      "post": {
        "tags": [
          "developer_apps"
        ],
        "description": "Create a new bearer token (API access key) for a developer app. Indexer validates grants.",
        "operationId": "Create Developer App Access Key",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user who owns the developer app",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "Developer app address (API Key)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Access key created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create_access_key_response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "404": {
            "description": "Developer app not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/dashboard_wallet_users": {
      "get": {
        "tags": [
          "dashboard_wallet_users"
        ],
        "description": "Gets Audius user profiles connected to given dashboard wallet addresses",
        "operationId": "Bulk get dashboard wallet users",
        "parameters": [
          {
            "name": "wallets",
            "in": "query",
            "description": "The wallets for which to fetch connected Audius user profiles.",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dashboard_wallet_users_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "404": {
            "description": "No such dashboard wallets",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/events": {
      "get": {
        "tags": [
          "events"
        ],
        "description": "Get a list of events by ID",
        "operationId": "Get Bulk Events",
        "security": [
          {},
          {
            "OAuth2": [
              "read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the event(s) to retrieve",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "The type of event to filter by",
            "schema": {
              "type": "string",
              "enum": [
                "remix_contest",
                "live_event",
                "new_release"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/events_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/events/all": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get all events",
        "description": "Get all events",
        "operationId": "Get All Events",
        "security": [
          {},
          {
            "OAuth2": [
              "read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip. Useful for pagination (page number * limit)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of items to fetch",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_method",
            "in": "query",
            "description": "The sort method",
            "schema": {
              "type": "string",
              "default": "newest",
              "enum": [
                "newest",
                "timestamp"
              ]
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "The type of event to filter by",
            "schema": {
              "type": "string",
              "enum": [
                "remix_contest",
                "live_event",
                "new_release"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/events_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/events/entity": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get events for a specific entity",
        "description": "Get events for a specific entity",
        "operationId": "Get Entity Events",
        "security": [
          {},
          {
            "OAuth2": [
              "read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip. Useful for pagination (page number * limit)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of items to fetch",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity_id",
            "in": "query",
            "description": "The ID of the entity to get events for",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "entity_type",
            "in": "query",
            "description": "The type of entity to get events for",
            "schema": {
              "type": "string",
              "enum": [
                "track",
                "collection",
                "user"
              ]
            }
          },
          {
            "name": "filter_deleted",
            "in": "query",
            "description": "Whether to filter deleted events",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/events_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/events/remix-contests": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get all remix contests",
        "description": "Get remix contest events ordered with currently-active contests first (by soonest-ending), followed by ended contests (most-recently-ended first). Active contests are those whose end_date is null or in the future.",
        "operationId": "Get Remix Contests",
        "security": [
          {},
          {
            "OAuth2": [
              "read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip. Useful for pagination (page number * limit)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of items to fetch",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter contests by status",
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "active",
                "ended",
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/remix_contests_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/events/{eventId}/comments": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get event comments",
        "description": "Paginated stream of top-level comments (with nested replies) for a remix-contest event. Host-authored top-level comments represent \"post updates\"; everything else is a community comment.",
        "operationId": "Get Event Comments",
        "security": [
          {},
          {
            "OAuth2": [
              "read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "An Event ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip. Useful for pagination (page number * limit)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of items to fetch",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_method",
            "in": "query",
            "description": "The sort method",
            "schema": {
              "type": "string",
              "default": "newest",
              "enum": [
                "top",
                "newest",
                "timestamp"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/track_comments_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/events/{eventId}/follow": {
      "post": {
        "tags": [
          "events"
        ],
        "summary": "Follow event",
        "description": "Subscribe to a remix-contest event. Emits a Subscribe/Event ManageEntity transaction so the indexer records the follow.",
        "operationId": "Follow Event",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "An Event ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event followed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/write_response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "404": {
            "description": "Event not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "events"
        ],
        "summary": "Unfollow event",
        "description": "Unsubscribe from a remix-contest event. Emits an Unsubscribe/Event ManageEntity transaction.",
        "operationId": "Unfollow Event",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "An Event ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event unfollowed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/write_response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/events/{eventId}/follow_state": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get event follow state",
        "description": "Returns whether the current user is subscribed to (follows) a given remix-contest event, plus the total follower count. Useful for rendering the Follow / Following button.",
        "operationId": "Get Event Follow State",
        "security": [
          {},
          {
            "OAuth2": [
              "read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "An Event ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/event_follow_state_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/events/{eventId}/follow-state": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get event follow state (hyphenated alias)",
        "description": "Hyphenated alias of /events/{eventId}/follow_state.",
        "operationId": "Get Event Follow State Alias",
        "security": [
          {},
          {
            "OAuth2": [
              "read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "An Event ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/event_follow_state_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/events/{eventId}/followers": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get event followers",
        "description": "Returns the list of users subscribed to a given remix-contest event, ordered by each follower's own follower count so the most-followed fans surface first. Used by the contest page's Followers card (avatar stack + leaderboard).",
        "operationId": "Get Event Followers",
        "security": [
          {},
          {
            "OAuth2": [
              "read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "An Event ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip. Useful for pagination (page number * limit)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of items to fetch",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/followers_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/events/unclaimed_id": {
      "get": {
        "tags": [
          "events"
        ],
        "description": "Gets an unclaimed blockchain event ID",
        "operationId": "Get unclaimed event ID",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unclaimed_id_response"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/explore/best-selling": {
      "get": {
        "tags": [
          "explore"
        ],
        "summary": "Get best selling tracks and playlists with related entities",
        "description": "Get best selling tracks and/or albums with related entities",
        "operationId": "Get Best Selling",
        "security": [
          {},
          {
            "OAuth2": [
              "read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip. Useful for pagination (page number * limit)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of items to fetch",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type of content to filter by",
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "all",
                "track",
                "album"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/best_selling_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/playlists": {
      "get": {
        "tags": [
          "playlists"
        ],
        "description": "Gets a list of playlists by ID, UPC, or permalink",
        "operationId": "Get Bulk Playlists",
        "security": [
          {},
          {
            "OAuth2": [
              "read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the playlist(s)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "permalink",
            "in": "query",
            "description": "The permalink(s) of the playlist(s)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "upc",
            "in": "query",
            "description": "The UPC of the playlist(s)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/playlist_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "playlists"
        ],
        "description": "Creates a new playlist or album",
        "operationId": "Create Playlist",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-codegen-request-body-name": "metadata",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create_playlist_request_body"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Playlist created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create_playlist_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/playlists/search": {
      "get": {
        "tags": [
          "playlists"
        ],
        "description": "Search for a playlist",
        "operationId": "Search Playlists",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip. Useful for pagination (page number * limit)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of items to fetch",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "The search query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "genre",
            "in": "query",
            "description": "The genres to filter by",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort_method",
            "in": "query",
            "description": "The sort method",
            "schema": {
              "type": "string",
              "enum": [
                "relevant",
                "popular",
                "recent"
              ]
            }
          },
          {
            "name": "mood",
            "in": "query",
            "description": "The moods to filter by",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "includePurchaseable",
            "in": "query",
            "description": "Whether or not to include purchaseable content",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "has_downloads",
            "in": "query",
            "description": "Only include tracks that have downloads in the track results",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/playlist_search_result"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/playlists/new-releases": {
      "get": {
        "tags": [
          "playlists"
        ],
        "description": "Returns recently released playlists or albums",
        "operationId": "Get Playlists New Releases",
        "security": [
          {},
          {
            "OAuth2": [
              "read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip. Useful for pagination (page number * limit)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of items to fetch",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type of content to filter by",
            "schema": {
              "type": "string",
              "default": "playlist",
              "enum": [
                "playlist",
                "album"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/trending_playlists_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/playlists/trending": {
      "get": {
        "tags": [
          "playlists"
        ],
        "description": "Returns trending playlists for a time period",
        "operationId": "Get Trending Playlists",
        "security": [
          {},
          {
            "OAuth2": [
              "read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip. Useful for pagination (page number * limit)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of items to fetch",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "Calculate trending over a specified time range",
            "schema": {
              "type": "string",
              "enum": [
                "week",
                "month",
                "year",
                "allTime"
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type of content to filter by",
            "schema": {
              "type": "string",
              "default": "playlist",
              "enum": [
                "playlist",
                "album"
              ]
            }
          },
          {
            "name": "omit_tracks",
            "in": "query",
            "description": "Whether to omit tracks from the response",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/trending_playlists_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/playlists/{playlist_id}": {
      "get": {
        "tags": [
          "playlists"
        ],
        "description": "Get a playlist by ID",
        "operationId": "Get Playlist",
        "security": [
          {},
          {
            "OAuth2": [
              "read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "playlist_id",
            "in": "path",
            "description": "A Playlist ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/playlist_response"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "playlists"
        ],
        "description": "Updates an existing playlist or album",
        "operationId": "Update Playlist",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "playlist_id",
            "in": "path",
            "description": "A Playlist ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-codegen-request-body-name": "metadata",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update_playlist_request_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Playlist updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/write_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "404": {
            "description": "Playlist not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "playlists"
        ],
        "description": "Deletes a playlist or album",
        "operationId": "Delete Playlist",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "playlist_id",
            "in": "path",
            "description": "A Playlist ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/write_response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "404": {
            "description": "Playlist not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/playlists/{playlist_id}/access-info": {
      "get": {
        "tags": [
          "playlists"
        ],
        "description": "Gets the information necessary to access the playlist and what access the given user has.",
        "operationId": "Get Playlist Access Info",
        "security": [
          {},
          {
            "OAuth2": [
              "read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "playlist_id",
            "in": "path",
            "description": "A Playlist ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/access_info_response"
                }
              }
            }
          }
        }
      }
    },
    "/playlists/{playlist_id}/tracks": {
      "get": {
        "tags": [
          "playlists"
        ],
        "description": "Fetch tracks within a playlist.",
        "operationId": "Get Playlist Tracks",
        "parameters": [
          {
            "name": "playlist_id",
            "in": "path",
            "description": "A Playlist ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/playlist_tracks_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/playlists/{playlist_id}/favorites": {
      "post": {
        "tags": [
          "playlists"
        ],
        "description": "Favorite a playlist",
        "operationId": "Favorite Playlist",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "playlist_id",
            "in": "path",
            "description": "A Playlist ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "x-codegen-request-body-name": "metadata",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/favorite_request_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Playlist favorited successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/write_response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "404": {
            "description": "Playlist not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "playlists"
        ],
        "description": "Unfavorite a playlist",
        "operationId": "Unfavorite Playlist",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "playlist_id",
            "in": "path",
            "description": "A Playlist ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist unfavorited successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/write_response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "404": {
            "description": "Playlist not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      },
      "get": {
        "tags": [
          "playlists"
        ],
        "description": "Get users that favorited a playlist",
        "operationId": "Get Users From Playlist Favorites",
        "security": [
          {},
          {
            "OAuth2": [
              "read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "playlist_id",
            "in": "path",
            "description": "A Playlist ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip. Useful for pagination (page number * limit)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of items to fetch",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/following_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/playlists/{playlist_id}/reposts": {
      "post": {
        "tags": [
          "playlists"
        ],
        "description": "Repost a playlist",
        "operationId": "Repost Playlist",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "playlist_id",
            "in": "path",
            "description": "A Playlist ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/repost_request_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Playlist reposted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/write_response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "404": {
            "description": "Playlist not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "playlists"
        ],
        "description": "Unrepost a playlist",
        "operationId": "Unrepost Playlist",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "playlist_id",
            "in": "path",
            "description": "A Playlist ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist unreposted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/write_response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "404": {
            "description": "Playlist not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      },
      "get": {
        "tags": [
          "playlists"
        ],
        "description": "Get users that reposted a playlist",
        "operationId": "Get Users From Playlist Reposts",
        "security": [
          {},
          {
            "OAuth2": [
              "read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "playlist_id",
            "in": "path",
            "description": "A Playlist ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip. Useful for pagination (page number * limit)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of items to fetch",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/following_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/playlists/{playlist_id}/shares": {
      "post": {
        "tags": [
          "playlists"
        ],
        "description": "Record a playlist share event",
        "operationId": "Share Playlist",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "playlist_id",
            "in": "path",
            "description": "A Playlist ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist share recorded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/write_response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "404": {
            "description": "Playlist not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        }
      }
    },
    "/resolve": {
      "get": {
        "tags": [
          "resolve"
        ],
        "summary": "Resolves and redirects a provided Audius app URL to the API resource URL it represents",
        "description": "This endpoint allows you to lookup and access API resources when you only know the\naudius.co URL.\nTracks, Playlists, and Users are supported.",
        "operationId": "Resolve",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "URL to resolve. Either fully formed URL (https://audius.co) or just the absolute path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Internal redirect",
            "content": {}
          }
        }
      }
    },
    "/tips": {
      "get": {
        "tags": [
          "tips"
        ],
        "description": "Gets the most recent tips on the network",
        "operationId": "Get Tips",
        "security": [
          {},
          {
            "OAuth2": [
              "read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip. Useful for pagination (page number * limit)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of items to fetch",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "receiver_min_followers",
            "in": "query",
            "description": "Only include tips to recipients that have this many followers",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "receiver_is_verified",
            "in": "query",
            "description": "Only include tips to recipients that are verified",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "current_user_follows",
            "in": "query",
            "description": "Only include tips involving the user's followers in the given capacity. Requires user_id to be set.",
            "schema": {
              "type": "string",
              "enum": [
                "sender",
                "receiver",
                "sender_or_receiver"
              ]
            }
          },
          {
            "name": "unique_by",
            "in": "query",
            "description": "Only include the most recent tip for a user was involved in the given capacity.\n\nEg. 'sender' will ensure that each tip returned has a unique sender, using the most recent tip sent by a user if that user has sent multiple tips.\n    ",
            "schema": {
              "type": "string",
              "enum": [
                "sender",
                "receiver"
              ]
            }
          },
          {
            "name": "min_slot",
            "in": "query",
            "description": "The minimum Solana slot to pull tips from",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "max_slot",
            "in": "query",
            "description": "The maximum Solana slot to pull tips from",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "tx_signatures",
            "in": "query",
            "description": "A list of transaction signatures of tips to fetch",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_tips_response"
                }
              }
            }
          }
        }
      }
    },
    "/tracks": {
      "get": {
        "tags": [
          "tracks"
        ],
        "description": "Gets a list of tracks using their IDs or permalinks",
        "operationId": "Get Bulk Tracks",
        "security": [
          {},
          {
            "OAuth2": [
              "read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID of the user making the request",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "permalink",
            "in": "query",
            "description": "The permalink of the track(s)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the track(s)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "isrc",
            "in": "query",
            "description": "The ISRC code of the track(s)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tracks_response"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "tracks"
        ],
        "description": "Creates a new track",
        "operationId": "Create Track",
        "security": [
[...]
